* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

.formulario {
  margin: 30px;
}

.formulario fieldset {
  padding: 30px;
  margin-bottom: 30px;
}

.titulo {
  font-size: 18px;
  font-weight: 700;
}

.formulario label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.formulario input {
  margin-right: 10px;
}

button {
  cursor: pointer;
  background: rgb(20, 94, 155);
  border: none;
  padding: 10px 20px;
  color: white;
  font-size: 18px;
  transition: .3s;
}

button:hover {
  background: rgb(8, 69, 119);
}